.button {
    background: #262834 ;
    color: white;
    margin: 5px;
    border-radius: 5px;
    border-color: #262834;
}
.buttonContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
    text-align: center;
    background-color: black;
    margin-top: 50px;
}
.result {
    color: white;
    margin: 0;
}
.calculator {
    background-color: black;
    margin: 25px;
    padding: 10px;
    border-radius: 5px;
}

